header {
    padding-block: 32px;
    font: var(--text-md)
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #profile {
    display: flex;    
    gap: 32px;
    
}

header #profile > div {
    max-width: 384px;
}

header #profile img {
    height: 176px;
    width: 176px;
    border-radius: 50%;
}

header #profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

header #info {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 16px;

    width: 280px;
}

header #info li {
    display: flex;
    gap: 8px;
}
